<div class="comment-card">
  <div class="avatar-card">
    <div class="avatar-container">
      <%= render 'shared/avatar_card', { user: comment.reading.user, timestamp: comment.created_at } %>
    </div>
  </div>
  <div class="comment-title">
    <p id="review-content"><strong><%= comment.title %></strong></p>
  </div>
  <div class="comment-content">
    <p id="review-content"><%= comment.content %></p>
  </div>
  <hr>
</div>
