<div class="comment-card">
    <div class="comment-title">
      <p id="review-content"><%= comment.title %></p>
    </div>
    <div class="comment-content">
      <p id="review-content"><%= comment.content %></p>
    </div>
    <hr>
</div>
