<% content_for(:title_tag) do %>
  List of Articles
<% end %>

<%= render 'shared/banner'%>

<!-- Background color on the entire page (grey) -->
<div class="grey-wapper">

  <div class="container">

    <!-- Category title -->
    <h3 id="popover">Most Popular</h3>

    <br>

    <%= render 'shared/article_cards'%>

  </div>
</div>

<% content_for :after_js do %>

<script>$(document).ready(function(){
  $('[data-toggle="popover"]').popover({ trigger: "hover" });
});</script>
<% end %>
