<% content_for(:title_tag) do %>
Spoken - Listen To Stories
<% end %>

<% unless params[:query] %>
<%= render 'shared/banner'%>
<% end %>
<div class="grey-wapper">
  <div class="container">

    <% if @articles.empty?  %>
    <h2 class="text-center">no articles match your search</h2>

    <% else %>
    <!-- Background color on the entire page (grey) -->



    <% Article::CATEGORIES.each do |c| %>
    <% if @articles.where(category: c).any? %>
    <div class="row">
      <h2 class="index-category-name"><%= c %></h2>
      <br>

      <% @articles.each do |article| %>
      <% if article.category == c %>
      <%= render 'shared/article_cards', article: article%>
      <% end %>
      <% end  %>
    </div>
    <% end %>
    <% end %>


  </div>
</div>
<% end %>

<% content_for :after_js do %>

<script>$(document).ready(function(){
  $('[data-toggle="popover"]').popover({ trigger: "hover" });
});</script>
<% end %>
