<div class="avatar-card">
  <div class="padded-right">
      <%= image_tag user_image_path_large(user), class: "avatar-large" %>
  </div>
  <div class="user-and-date">
    <% if user.first_name %>
      <p class="user-name">
        <%= link_to user.first_name, "" %>
        <%= link_to user.last_name, "" %>
      </p>
    <% end %>
    <p class="date-info"><%= timestamp.strftime("%d %b, %Y") %></p>
  </div>
</div>


