<div class="text-center">
  <h2>Welcome back, <%= current_user.first_name %>!</h2>
</div>

<div class="container">

  <div class="row">
    <div class="col-md-12">
      <div class="text-center">
      <%= render 'shared/recommendations' %>

      </div>
    </div>
  </div><div class="row">
    <div class="col-md-12">
      <div class="text-center">
      </div>
    </div>
  </div><div class="row">
    <div class="col-md-12">
      <div class="text-center">
      </div>
    </div>
  </div><div class="row">
    <div class="col-md-12">
      <div class="text-center">
      <%= render 'shared/readings' %>
      </div>
    </div>
  </div>
</div>



