#popover {
  padding-left: 15px;
  margin-top: 20px;
  margin-bottom: 5px;
  position: absolute;
  left: 300px;
}


#index-popover .popover {
  top: 5px !important;
  left: 65px !important;

}
.grey-wapper{
  background-color:#F3F3F3;
  min-height: 100vh;
}
.white-wrapper {
  background: white;
  padding: 30px;
  min-height: 100%;
  box-shadow: 0 2px 2px rgba(0,0,0,0.3);
  border-radius: 2%;

}
.one-card{
  height: 400px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.3);
  background-size: cover !important;
  color: black;
  position: relative;
  background-color: white;
  border-radius: 2%;
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
}
.card-user-avatar{
  position: absolute;
  left: 15px;
  top: 10px;
  bottom: 30px;
}
.avatar-large{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 20px;
}
#article-info{
  position: absolute;
  left: 10px;
  top: 10px;
   p {
    color: $gray-light;
    font-size: 14px;
  }
}
.article-info{
  position: absolute;
  left: 10px;
  top: 10px;
   p {
    color: $gray-light;
    font-size: 14px;
  }
}
.article-photo {
  height: 150px;
  background-size: 100% 150px;
  background-repeat: no-repeat;
  color: black;
  position: relative;
  margin: 5px 0 0 0;
  border-radius: 1%;
}
.article-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background-image: url("http://res.cloudinary.com/dijz3a59v/image/upload/v1496241666/play_o8kktp.png");
  background-size: auto 150px;
  background-position: center top;
  background-repeat: no-repeat;
  opacity: 0;
}
.article-title {
  border-bottom: 1px solid $gray-lighter;
  margin: 5px 0 0 0;
  p {
    color: $gray-light;
  }
}
.article-category{
  margin-top: 10px;
  width: 100%;
  color: #11b9c9;
  .float-right {
    position: absolute;
    right: 15px;
    color: #11b9c9;
  }

}
.card-link:hover{
  opacity: 0.2;
}
