.tabs {
  background: white;
  display: flex;
  padding: 10px 100px 0 100px;
}
.tabs a {
  color: white;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}
.tabs h3 {
  font-size: 17px;
  font-weight: bold;
  margin: 0;
}
.tabs p {
  opacity: 0.5;
  margin-bottom: 0;
}
.tab {
  background: lighten($blue, 5%);
  flex: 1 1 auto;
  text-align: center;
  padding: 20px 0;
  margin: 10px 5px;
  border-radius: 10px 10px 0 0;
}

.tab.active {
  background: white;
  border-left: 3px solid;
  border-top: 3px solid;
  border-right: 3px solid;
  border-color: $blue;
  color: black;
}
.tab-content {
  padding-top: 50px;
}

